{% extends 'base.html.twig' %}

{% block title %}
  Accueil | Réserva'Classe
{% endblock %}

{% block title_h1 %}
  Bienvenue sur Réserva'Classe !
{% endblock %}


{% block body %}

  <div
    class="hero-content flex-col-reverse lg:flex-row-reverse">
    <img
      src="{{ asset('img/parents-enseignants-800W.webp') }}" alt="Parents et Enseignants"
      class="max-w-3xs md:max-w-2xs lg:max-w-sm rounded-lg shadow-2xl"/>

    <div
      class="pb-8">
      {% set message = "Chers Parents,\nJe vous propose d’utiliser cet outil pour réserver un créneau afin d’échanger ensemble sur le travail et la façon dont votre enfant se comporte à l’école, en ce début d’année de CM2.\nPour les parents séparés, dans la mesure de vos possibilités, j'apprécierais que vous veniez ensemble.\nNous nous retrouverons dans la classe de CM2 au Collège, 1er étage, avant-dernière sur la droite.\nMerci d’être ponctuel pour le bon déroulement des rendez-vous.\nBien à vous,\nFélicie Foulc" %}
      <p
        class="py-6 italic text-lg/8">
        {{ message | nl2br }}
      </p>
      <div>
        <button
          class="btn btn-primary">
          Réserver un créneau
        </button>
      </div>
    </div>
  </div>

{% endblock %}
