{% extends 'base.html.twig' %}

{% block title %}
  Accueil | Réserva'Classe
{% endblock %}

{% block title_h1 %}
  Bienvenue sur Réserva'Classe !
{% endblock %}


{% block body %}

  <div
    class="hero-content flex-col-reverse lg:flex-row-reverse">
    <img
      src="
                                                                                                                                                                                                                        {{ asset('img/photo-classe-2025.jpeg') }}
                                                                                                                                                                                                                        "
      alt="photo de classe"

      class="max-w-3xs md:max-w-2xs lg:max-w-sm rounded-lg shadow-2xl"/>

    <div
      class="pb-8">
      {% set message = "Chers Parents,\nCette année, je vous propose d’utiliser cet outil pour réserver un créneau (entretien individuel, piscine, sorties...) parmi ceux proposés.\nPour les entretiens individuels, afin d’échanger ensemble sur le travail et la façon dont votre enfant se comporte à l’école, j'apprécierais que les parents séparés viennent ensemble.\nMerci d’être ponctuels pour le bon déroulement des rendez-vous.\nBien à vous,\nFélicie Foulc" %}
      <p
        class="text-base md:text-lg/8 py-6 italic">

        {{ message | nl2br }}
      </p>
      <div
        class="text-center md:text-left md:mt-4 w-full fixed bottom-5 md:static">


        <a
          href="
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      {{ path('session.index') }}                                                                                                                                                                           "
          class="btn btn-primary btn-xl">


          Réserver un créneau
        </a>

      </div>
    </div>
  </div>

{% endblock %}
