{% extends 'base.html.twig' %}

{# Balise <title> de la page #}
{% block title %}
	Accueil | RéservaClasse
{% endblock %}

{% block body %}
	<div
		class="container py-4">
		<H1
			class="text-center fs-1">
			Bienvenue sur RéservaClasse !
		</H1>
	</div>
	<div
		class="container mt-4 py-4">
		<h2
			class="fs-3 mb-4 text-primary">
			Réunion Parents-Enseignant
		</h2>
    <figure>
      <blockquote class="blockquote">
      <p>
			Chères Parents,
      je vous propose un petit entretien pour faire le point sur le travail et la façon dont votre enfant se comporte à l'école en ce début d'année.
      Soyez ponctuels pour le bon déroulement des rendez-vous.
      Merci,
      Félicie Foulc
		  </p>
      <p>
			Les entretiens se dérouleront dans la classe de CM2 au Collège, 1er étage. La salle est l'avant-dernière sur la droite.
      </p>

      </blockquote>
      
    </figure>

	</div>

	{# BTN Réserver un créneau qui ouvre une Pop-up ci-dessous #}
	{# Pop-up : Liste des Créneaux dispo suivants les jours (onglets) de réunions #}

{% endblock %}
