{% extends 'base.html.twig' %}

{# Balise <title> de la page #}
{% block title %}
	Accueil | RéservaClasse
{% endblock %}

{% block body %}
	<div
		class="container-md mt-5">
		<div
			class="p-2 p-md-5 bg-body-tertiary rounded-3">
			<div
				class="container-fluid py-5">

				<h1
					class="display-5 fw-bold">
					Bienvenue sur Réserva'Classe !
				</h1>

				<div
					class="row mb-4 py-5">
					<div
						class="col-12 col-lg-7">
						{% set message = "Chers Parents,\nJe vous propose un petit entretien pour faire le point sur le travail et la façon dont se comporte votre enfant à l'école depuis ce début d'année de CM2.\nSoyez ponctuels pour le bon déroulement des rendez-vous.\nMerci,\nFélicie Foulc" %}

						<p
							class="fs-5 fst-italic">
							{{ message | nl2br }}
						</p>

						{% set message = "Les entretiens se dérouleront dans la classe de CM2 au Collège, 1er étage.\nLa salle est l'avant-dernière sur la droite." %}
						<p
							class="fs-5">
							{{ message | nl2br }}
						</p>
					</div>

					<div
						class="col-10 mx-auto col-lg-4 offset-lg-1">
						<img
							class="img-fluid rounded-3"
							src="{{ asset('img/parents-enseignants-800W.webp') }}" alt="Parents et Enseignants"/>
					</div>

				</div>


				<a
					class="btn btn-success btn-lg"
					type="button"
					aria-label="Réserver un créneau"
					href="{{ path('page_slots') }}">
					Réserver votre créneau
				</a>

			</div>
		</div>

	</div>
</div>{% endblock %}
