{% extends 'base.html.twig' %}

{% block title %}
	Réservez un créneau avec un enseignant
{% endblock %}

{% block body %}

	<div>
		<h1>
			{{ title }}
		</h1>
		{# Liste des élèves #}


	</div>
{% endblock %}
