{% extends 'base.html.twig' %}

{% block title %}
  Les entretiens programmés | Réserva'Classe
{% endblock %}

{% block title_h1 %}
  Toutes les sessions
{% endblock %}

{% block body %}

  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 p-4">
    {% for session in sessions %}
      <div
        class="card bg-base-100 shadow-md">
        <div
          class="card-body gap-8">
          <div>
            <p
              class="">
              Enseignant :
              <span>
                {{ session.teacher.fullName|default('Enseignant inconnu') }}
              </span>
            </p>
            <h2
              class="card-title">

              {{ session.label }}
            </h2>
          </div>
          <div
            class="card-actions justify-end">
            <a
              href="
                                                                                                                                                              {{ path('session_show', { id: session.id, filter: 'booked' }) }}
                                                                                                                                                            "
              class="btn btn-neutral btn-outline">


              Voir les inscrits
            </a>
            <a
              href="
                                                                                                                                                              {{ path('session_show', { id: session.id, filter: 'free' }) }}
                                                                                                                                                            "
              class="btn btn-primary">

              S'inscrire
            </a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}
