@import 'tailwindcss';

@plugin "daisyui" {
  themes: pastel --default;
}

.container {
  @apply max-w-full mx-auto;
}

.tabs-gradient {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 120px;
  pointer-events: none;
  @apply bg-gradient-to-r from-transparent to-base-100;
  z-index: 10;
}
