<footer
  class="bg-neutral text-neutral-content items-center mt-auto">
  <div
    class="container p-2 md:p-4">

    <p
      class="text-center text-xs md:text-sm">
      ©
      {{ 'now'|date('Y') }}
      - Réserva'Classe (v2.0) •
      <a
        class="hover:underline"
        target="_blank"
        href="https://www.alexcreationweb.fr">
        AlexCreationWeb
      </a>
    </p>
  </div>

</footer>
