<footer
  class="bg-neutral text-neutral-content items-center p-4">
  <div
    class="container">
    <p
      class="text-center text-sm">
      ©
      {{ 'now'|date('Y') }}
      - Réserva'Classe (v2.0) • AlexCreationWeb
    </p>
  </div>

</footer>
