{% extends 'base.html.twig' %}

{# Balise <title> de la page #}
{% block title %}
	Réservez un créneau | RéservaClasse
{% endblock %}


{% block body %}
	{# Liste des Réservations #}
	<H1>
		Réservez votre créneau en ligne
	</H1>

	<table
		class="table table-hover">
		<thead>
			<tr>
				<th
					scope="col">
					Prénom/Nom de l'élève
				</th>
				<th
					scope="col">
					Jour
				</th>
				<th
					scope="col">
					Heure de début
				</th>
				<th
					scope="col">
					Heure de fin
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th
					scope="row">
					Lorem ipsum
				</th>
				<td>
					dd/mm/yyyy
				</td>
				<td>
					hh:mm
				</td>
				<td>
					hh:mm
				</td>
			</tr>

		</tbody>
	</table>

	{# BTN Réserver un créneau qui ouvre une Pop-up ci-dessous #}
	{# Pop-up : Liste des Créneaux dispo suivants les jours (onglets) de réunions #}

{% endblock %}
